<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.henu.jianyunnote">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.henu.jianyunnote.util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--url-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.henu.jianyunnote.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.setting.AboutSettingActivity" />
        <activity android:name=".activity.noteTrash.NoteTrashActivity"
            android:label="废纸篓"/>
        <activity android:name=".activity.setting.SettingActivity" />
        <activity
            android:name=".activity.start.StartActivity"
            android:theme="@style/AppTheme.NoActionBarAndTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.noteParttion.NoteParttionActivity"
            android:label="笔记本列表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.index.FindPasswordActivity" />
        <activity android:name=".activity.index.LoginActivity" />
        <activity
            android:name=".activity.noteContent.NoteContentActivity"
            android:label="笔记" />
        <activity
            android:name=".activity.notePage.NotePageActivity"
            android:label="笔记列表" />
        <activity android:name=".activity.index.RegisterActivity" />
    </application>

</manifest>